node_modules
.env
.env.local
/src/generated/prisma
client/dist
client/out
client/node_modules

# Next.js build output
client/.next/
.next/

# TypeScript build info
*.tsbuildinfo
client/*.tsbuildinfo

# Build folders
build/
dist/
